{% extends "base.html" %}

{% load bootstrap3 %}

{% block jumbotron %}
  <h1>Login</h1>
  {% if next %}
    <p>Please login to see this page</p>
  {% endif %}
{%  endblock %}

{% block body %}
  <div class="col-sm-5">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="hidden" name="next" value="{{ next }}" />
      {% buttons submit='Login' %}{% endbuttons %}
    </form>
  </div>

  {# Assumes you setup the password_reset view in your URLconf #}
  {# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}

{% endblock %}