packages:
  yum:
    postgresql94-devel: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: nokecodes.settings.prod
  aws:elasticbeanstalk:container:python:
    WSGIPath: nokecodes/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"

container_commands:
  01_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  02_migrate:
    command: "django-admin.py migrate"
    leader_only: true
