container_commands:
  01_redirect_http_to_https:
    command:
      sed -i '/\<VirtualHost \*:80\>/a RewriteEngine On\nRewriteCond %{HTTP:X-Forwarded-Proto} !https\nRewriteCond %{REQUEST_URI} !^/status$\nRewriteCond %{REQUEST_URI} !^/version$\nRewriteCond %{REQUEST_URI} !^/_hostmanager/\nRewriteRule . https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]' /opt/python/ondeck/wsgi.conf